.m5 {
    margin: 0;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.m35 {
    margin: 15px;
}

.m40 {
    margin: 40px;
}

.m45 {
    margin: 45px;
}

.m50 {
    margin: 50px;
}

.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mtb0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mtb5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mtb25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mtb35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.mtb40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mtb45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.mtb50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.mr0 {
    margin-right: 0;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mlr0 {
    margin-right: 0;
    margin-left: 0;
}

.mlr5 {
    margin-right: 5px;
    margin-left: 5px;
}

.mlr10 {
    margin-right: 10px;
    margin-left: 10px;
}

.mlr20 {
    margin-right: 20px;
    margin-left: 20px;
}

.mlr25 {
    margin-right: 25px;
    margin-left: 25px;
}

.mlr30 {
    margin-right: 30px;
    margin-left: 30px;
}

.mlr35 {
    margin-right: 35px;
    margin-left: 35px;
}

.mlr40 {
    margin-right: 40px;
    margin-left: 40px;
}

.mlr45 {
    margin-right: 45px;
    margin-left: 45px;
}

.mlr50 {
    margin-right: 50px;
    margin-left: 50px;
}
