@import "fonts/font_families";
@import "fonts/font_sizes";
@import "fonts/font_weights";
@import "fonts/font_line_heights";

body,
html {
    font-family: $font_primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    margin-top: 10px;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 10px;
}

h5 {
    margin-bottom: 10px;
}

h6 {
    margin-bottom: 10px;
}

:not(li) > ol,
:not(li) > ul {
    margin: 0;
    padding: 0;
}

ol li,
p,
ul li {
    font-size: 16px;
    line-height: 1.5em;
}

ol li,
ul li {
    list-style-position: inside;
}

table {
    margin: 15px 0;
}

td,
th {
    padding: 5px;
}

tr.odd {
    background-color: #efefef;
}
@media screen and (max-width:1300px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:991px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:600px) {}
