.single-post-comments-wrapper {
    margin: 30px 0 0;
}

#comments ol {
    list-style-type: none;
}

h3#comments {
    margin-bottom: 30px;
}

.comment-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.comment-list > .comment {
    padding-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dedede;
}

.comment-list > .comment > ol {
    list-style-type: none;
    margin: 15px 0 0 15px;
    padding: 0;
}

.comment-list > .comment > ol > li.comment {
    padding: 15px;
}

.comment-list > li.comment .comment-author img {
    max-width: 50px;
    margin-right: 10px;
}

.comment-list > .comment > ol > li.comment .comment-author {
    font-size: 14px;
}

.comment-list > .comment > ol > li.comment .comment-author img {
    max-width: 25px;
}

.comment-list ol > li.comment.odd {
    background-color: #efefef;
}

.comment-author {
    font-size: 16px;
    margin-bottom: 15px;
}

.single-post-comments-wrapper .navigation {
    float: left;
    width: 100%;
    min-height: 1px;
}

.single-post-comments-wrapper .navigation::after,
.single-post-comments-wrapper .navigation::before {
    content: " ";
    display: table;
}

.comment-respond label {
    display: block;
}
